This script is the cleaning of the shanghai data.

Import Libraries and data set

In [1]:
import pandas as pd
import numpy as np
import os
import pycountry_convert as pc

In [2]:
pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [3]:
path = r'C:\Users\justi\University Scores'

In [4]:
df = pd.read_csv(os.path.join(path, 'Original Data', 'World University Rankings', 'shanghaiData.csv'), index_col = False)

In [5]:
df.head()

,world_rank,university_name,national_rank,total_score,alumni,award,hici,ns,pub,pcp,year
0,1,Harvard University,1,100.0,100.0,100.0,100.0,100.0,100.0,72.4,2005
1,2,University of Cambridge,1,73.6,99.8,93.4,53.3,56.6,70.9,66.9,2005
2,3,Stanford University,2,73.4,41.1,72.2,88.5,70.9,72.3,65.0,2005
3,4,"University of California, Berkeley",3,72.8,71.8,76.0,69.4,73.9,72.2,52.7,2005
4,5,Massachusetts Institute of Technology (MIT),4,70.1,74.0,80.6,66.7,65.8,64.3,53.0,2005

In [6]:
df['year'].value_counts()

2007    510
2008    503
2009    501
2005    500
2006    500
2010    500
2011    500
2014    500
2015    500
2012    284
2013     99
Name: year, dtype: int64

In [7]:
#I notice there is no country column so I am going to bring in another data set to join to create a country column.
cwur_df = pd.read_pickle(os.path.join(path, 'Prepared Data', 'cwur_df_cleaned.pkl'))

Rename Columns

In [8]:
df.columns

Index(['world_rank', 'university_name', 'national_rank', 'total_score',
       'alumni', 'award', 'hici', 'ns', 'pub', 'pcp', 'year'],
      dtype='object')

In [9]:
df.rename(columns = {'world_rank' : 'shanghai_world_rank'}, inplace = True)
df.rename(columns = {'university_name' : 'institution'}, inplace = True)
df.rename(columns = {'national_rank' : 'shanghai_national_rank'}, inplace = True)
df.rename(columns = {'total_score' : 'shanghai_total_score'}, inplace = True)

Remove Duplicates

In [10]:
dfsubset = df[df.duplicated()]
dfsubset

Empty DataFrame
Columns: [shanghai_world_rank, institution, shanghai_national_rank, shanghai_total_score, alumni, award, hici, ns, pub, pcp, year]
Index: []

Identify and make data types uniform

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4897 entries, 0 to 4896
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   shanghai_world_rank     4897 non-null   object
 1   institution             4896 non-null   object
 2   shanghai_national_rank  4896 non-null   object
 3   shanghai_total_score    1101 non-null   float64
 4   alumni                  4896 non-null   float64
 5   award                   4895 non-null   float64
 6   hici                    4895 non-null   float64
 7   ns                      4875 non-null   float64
 8   pub                     4895 non-null   float64
 9   pcp                     4895 non-null   float64
 10  year                    4897 non-null   int64
dtypes: float64(7), int64(1), object(3)
memory usage: 421.0+ KB

In [12]:
df['shanghai_world_rank'].value_counts()

401-500    600
301-400    600
201-300    584
151-200    300
201-302    204
101-150    200
303-401    198
102-150    147
403-510    108
203-304    102
402-503    102
101-151    102
402-501    100
305-402     98
203-300     98
152-200     98
151-202     52
101-152     52
153-202     50
93          19
65          17
90          17
97          16
77          16
73          16
32          15
53          14
86          14
61          14
41          14
83          13
85          13
54          13
82          13
47          13
39          13
46          13
67          13
99          13
18          13
27          13
38          12
92          12
8           12
96          12
70          12
57          12
78          12
30          12
21          12
42          12
24          12
35          12
87          12
69          11
72          11
2           11
58          11
1           11
64          11
45          11
20          11
23          11
26          11
17          11
16          11
15          11
14          11
36          11
13          11
43          11
22          11
12          11
11          11
51          11
52          11
9           11
7           11
6           11
5           11
4           11
3           11
62          11
10          10
79          10
74          10
59          10
48          10
71          10
34          10
50          10
31          10
60          10
28          10
29          10
37          10
56          10
81           9
94           9
84           9
49           9
19           9
76           9
25           9
75           9
55           8
63           8
44           8
40           8
100          8
88           8
66           8
33           8
89           7
80           7
68           7
91           6
98           5
95           4
Name: shanghai_world_rank, dtype: int64

In [13]:
df = df.replace(str('401-500'), '401')
df = df.replace(str('301-400'), '301')
df = df.replace(str('201-300'), '201')
df = df.replace(str('151-200'), '151')
df = df.replace(str('201-302'), '201')
df = df.replace(str('101-150'), '101')
df = df.replace(str('303-401'), '303')
df = df.replace(str('102-150'), '102')
df = df.replace(str('403-510'), '403')
df = df.replace(str('203-304'), '203')
df = df.replace(str('402-503'), '402')
df = df.replace(str('101-151'), '101')
df = df.replace(str('402-501'), '402')
df = df.replace(str('305-402'), '305')
df = df.replace(str('203-300'), '203')
df = df.replace(str('152-200'), '152')
df = df.replace(str('151-202'), '151')
df = df.replace(str('101-152'), '101')
df = df.replace(str('153-202'), '153')

In [14]:
df['shanghai_world_rank'] = df['shanghai_world_rank'].astype('float64')

Create a country names column through joining data sets

In [15]:
country_df = cwur_df[['institution', 'country']]

In [16]:
country_df.head()

                             institution                   country
0                     Harvard University  United States of America
1  Massachusetts Institute of Technology  United States of America
2                    Stanford University  United States of America
3                University of Cambridge            United Kingdom
4     California Institute of Technology  United States of America

In [17]:
df = df.replace(str('Massachusetts Institute of Technology (MIT)'), 'Massachusetts Institute of Technology')
df = df.replace(str('University of California-Berkeley'), 'University of California, Berkeley')
df = df.replace(str('University of Michigan-Ann Arbor'), 'University of Michigan - Ann Arbor')

In [18]:
df1 = df.merge(country_df, on = 'institution', how = 'left')

In [19]:
df1['country'].value_counts()

United States of America    2894
United Kingdom               635
Japan                        569
China                        468
Canada                       456
Germany                      352
Italy                        302
Australia                    252
Netherlands                  223
Sweden                       182
South Korea                  176
Spain                        164
Switzerland                  160
Israel                       132
Austria                      112
Denmark                      108
Finland                      106
France                        94
Norway                        80
South Africa                  66
New Zealand                   64
Singapore                     50
Brazil                        48
Belgium                       42
Ireland                       36
Poland                        36
Greece                        36
Portugal                      34
India                         31
Argentina                     20
Czech Republic                20
Mexico                        20
Saudi Arabia                  20
Hungary                       18
Russia                        18
Chile                         18
Turkey                        18
Slovenia                      14
Iran                          12
Egypt                         10
Malaysia                      10
Serbia                         4
Croatia                        2
Name: country, dtype: int64

In [20]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9650 entries, 0 to 9649
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   shanghai_world_rank     9650 non-null   float64
 1   institution             9649 non-null   object
 2   shanghai_national_rank  9649 non-null   object
 3   shanghai_total_score    3036 non-null   float64
 4   alumni                  9649 non-null   float64
 5   award                   9647 non-null   float64
 6   hici                    9647 non-null   float64
 7   ns                      9625 non-null   float64
 8   pub                     9647 non-null   float64
 9   pcp                     9647 non-null   float64
 10  year                    9650 non-null   int64
 11  country                 8112 non-null   object
dtypes: float64(8), int64(1), object(3)
memory usage: 980.1+ KB

In [21]:
pd.set_option('display.max_colwidth', None)

In [22]:
df1[(df1['shanghai_world_rank']<=100) & df1['country'].isnull()]

,shanghai_world_rank,institution,shanghai_national_rank,shanghai_total_score,alumni,award,hici,ns,pub,pcp,year,country
60,16.0,University of Wisconsin - Madison,14,49.2,43.0,36.3,52.1,46.3,68.7,29.0,2005,NaN
61,17.0,University of Washington,15,48.4,28.8,32.4,53.9,47.1,73.8,27.2,2005,NaN
66,19.0,The Johns Hopkins University,17,46.9,51.4,28.3,41.6,52.2,67.7,24.9,2005,NaN
67,20.0,The University of Tokyo,1,46.7,36.0,14.4,38.5,52.1,86.5,34.7,2005,NaN
68,21.0,University of Michigan - Ann Arbor,18,44.9,43.0,0.0,61.9,43.0,76.5,30.9,2005,NaN
73,23.0,"The Imperial College of Science, Technology and Medicine",3,43.7,20.8,38.1,40.8,38.2,64.6,40.3,2005,NaN
78,25.0,University of Illinois at Urbana-Champaign,19,42.8,41.6,37.4,44.4,34.1,58.0,26.0,2005,NaN
83,27.0,Swiss Federal Institute of Technology Zurich,1,41.7,40.2,37.0,35.1,41.1,43.4,52.4,2005,NaN
112,35.0,University of Colorado at Boulder,27,36.3,16.6,29.8,40.8,36.6,46.3,29.5,2005,NaN
113,36.0,The University of Texas at Austin,28,35.5,21.7,17.1,49.1,30.0,54.8,21.7,2005,NaN
118,38.0,The University of Texas Southwestern Medical Center at Dallas,29,34.8,24.3,33.9,31.4,38.2,37.9,31.0,2005,NaN
119,39.0,Pennsylvania State University - University Park,30,33.4,14.0,0.0,45.8,37.9,59.9,24.0,2005,NaN
132,43.0,"Rutgers, The State University of New Jersey - New Brunswick",33,32.3,15.4,20.4,36.9,32.9,47.1,24.1,2005,NaN
133,43.0,University of Pittsburgh,33,32.3,25.1,0.0,40.1,25.9,64.3,28.2,2005,NaN
138,46.0,Pierre and Marie Curie University - Paris 6,1,32.0,35.7,23.9,23.6,24.2,51.2,30.0,2005,NaN
139,47.0,The University of Edinburgh,5,31.8,22.6,17.1,26.1,35.8,49.4,29.9,2005,NaN
152,51.0,University of Munich,1,31.4,37.1,21.1,15.7,30.4,51.9,30.0,2005,NaN
153,52.0,Technical University Munich,2,31.3,43.0,24.1,24.8,20.7,46.5,29.2,2005,NaN
154,53.0,The University of Manchester,6,31.2,27.3,19.3,23.6,22.6,57.3,30.4,2005,NaN
163,56.0,The Australian National University,1,30.2,17.7,12.9,36.9,29.0,45.1,27.8,2005,NaN
178,61.0,University of Paris Sud (Paris 11),2,29.4,33.2,34.2,13.6,19.6,44.9,27.9,2005,NaN
183,63.0,The Ohio State University - Columbus,41,29.2,17.7,0.0,40.8,21.5,61.2,19.5,2005,NaN
187,65.0,The University of Sheffield,8,28.6,23.5,14.4,23.6,29.2,46.6,27.1,2005,NaN
196,67.0,Moscow State University,1,28.4,51.4,34.9,0.0,7.5,54.0,31.6,2005,NaN
204,71.0,University of Heidelberg,3,28.0,10.9,27.7,20.8,20.9,48.1,26.9,2005,NaN
216,75.0,Purdue University - West Lafayette,45,27.7,18.8,17.1,27.2,21.4,49.8,19.4,2005,NaN
227,78.0,The Hebrew University of Jerusalem,1,26.2,33.2,0.0,23.6,27.1,46.6,26.9,2005,NaN
240,84.0,University of Goettingen,4,25.8,38.7,20.4,15.7,17.5,40.2,24.5,2005,NaN
247,87.0,Indiana University Bloomington,50,25.2,14.0,18.2,24.8,21.2,42.0,18.2,2005,NaN
250,89.0,Texas A&M University - College Station,51,25.1,0.0,0.0,32.4,24.4,55.0,20.4,2005,NaN
253,90.0,University of Freiburg,5,24.9,25.1,21.4,17.6,18.2,39.5,23.2,2005,NaN
256,93.0,Ecole Normale Superieure - Paris,4,24.6,47.8,25.0,13.6,18.1,27.2,23.3,2005,NaN
265,97.0,University of Roma - La Sapienza,1,24.5,16.6,15.8,11.1,21.8,54.6,15.1,2005,NaN
1024,16.0,University of Wisconsin - Madison,14,48.8,41.5,35.5,53.3,45.1,68.3,29.3,2006,NaN
1025,17.0,University of Washington,15,48.5,27.7,31.8,53.3,47.6,75.5,27.8,2006,NaN
1030,19.0,The University of Tokyo,1,46.7,34.8,14.1,41.4,51.5,85.5,35.2,2006,NaN
1031,20.0,The Johns Hopkins University,17,46.6,49.5,27.8,40.7,52.2,68.8,25.3,2006,NaN
1032,21.0,University of Michigan - Ann Arbor,18,44.5,41.5,0.0,61.5,41.6,76.9,31.2,2006,NaN
1037,23.0,"The Imperial College of Science, Technology and Medicine",3,43.4,20.1,37.4,40.0,39.7,64.2,40.2,2006,NaN
1042,25.0,University of Illinois at Urbana-Champaign,19,42.5,40.1,36.6,45.5,33.6,57.7,26.3,2006,NaN
1047,27.0,Swiss Federal Institute of Technology Zurich,1,41.2,38.8,36.3,35.3,39.9,43.5,52.6,2006,NaN
1072,34.0,University of Colorado at Boulder,26,36.4,16.0,30.8,40.0,37.0,46.4,30.1,2006,NaN
1085,38.0,The University of Texas Southwestern Medical Center at Dallas,29,35.2,23.4,33.2,31.7,38.1,39.8,33.5,2006,NaN
1086,39.0,The University of Texas at Austin,30,34.9,21.0,16.7,48.0,28.3,55.4,21.8,2006,NaN
1095,42.0,Pennsylvania State University - University Park,32,32.7,13.5,0.0,44.9,37.7,58.0,23.8,2006,NaN
1104,45.0,Pierre and Marie Curie University - Paris 6,1,32.4,34.4,23.5,23.1,24.9,52.9,32.5,2006,NaN
1105,46.0,"Rutgers, The State University of New Jersey - New Brunswick",35,32.3,14.8,20.0,38.5,32.7,46.5,24.6,2006,NaN
1114,48.0,University of Pittsburgh,37,31.9,24.2,0.0,40.0,24.0,65.0,28.6,2006,NaN
1115,50.0,The University of Manchester,5,31.7,26.4,18.9,24.3,24.9,58.7,28.7,2006,NaN
1116,51.0,University of Munich,1,31.5,35.8,22.9,15.4,28.0,52.9,32.2,2006,NaN
1117,52.0,The University of Edinburgh,6,31.4,21.8,16.7,25.5,35.4,49.3,30.3,2006,NaN
1122,54.0,Technical University Munich,2,30.8,41.5,23.6,24.3,19.5,46.2,30.7,2006,NaN
1123,54.0,The Australian National University,1,30.8,17.1,12.6,37.7,30.1,44.4,32.8,2006,NaN
1140,60.0,The Hebrew University of Jerusalem,1,30.0,32.0,20.0,25.5,25.2,44.7,29.5,2006,NaN
1152,64.0,University of Paris Sud (Paris 11),2,29.4,32.0,33.5,13.3,20.8,44.7,29.7,2006,NaN
1155,66.0,The Ohio State University - Columbus,41,29.0,17.1,0.0,40.7,20.6,61.3,19.7,2006,NaN
1156,66.0,University of Heidelberg,3,29.0,19.1,27.2,18.8,21.5,49.5,29.5,2006,NaN
1161,69.0,The University of Sheffield,8,28.5,22.6,14.1,23.1,29.2,45.8,30.2,2006,NaN
1165,70.0,Moscow State University,1,27.9,49.5,34.2,0.0,5.6,54.3,33.4,2006,NaN
1169,73.0,Purdue University - West Lafayette,43,27.7,18.2,16.7,27.7,20.7,50.6,19.9,2006,NaN
1208,85.0,University of Goettingen,4,25.4,37.3,20.0,15.4,15.9,40.8,26.0,2006,NaN
1213,88.0,Texas A&M University - College Station,50,25.1,0.0,0.0,31.7,24.4,55.7,20.8,2006,NaN
1222,93.0,University of Freiburg,5,24.6,24.2,20.9,17.2,18.4,38.8,24.4,2006,NaN
1231,97.0,Indiana University Bloomington,53,24.1,13.5,17.9,24.3,18.9,40.7,17.8,2006,NaN
1236,99.0,Ecole Normale Superieure - Paris,4,23.6,46.1,24.5,13.3,14.8,27.3,24.1,2006,NaN
1237,100.0,Arizona State University - Tempe,54,23.5,0.0,14.1,21.8,27.0,42.6,18.1,2006,NaN
1238,100.0,University of Roma - La Sapienza,1,23.5,16.0,15.5,10.9,19.4,53.3,14.8,2006,NaN
1989,16.0,University of Washington,14,48.2,27.0,31.8,52.4,49.0,74.1,27.4,2007,NaN
1990,17.0,University of Wisconsin - Madison,15,48.0,40.3,35.5,52.9,43.1,67.2,28.6,2007,NaN
1995,19.0,The Johns Hopkins University,17,46.1,48.1,27.8,41.3,50.9,67.9,24.7,2007,NaN
1996,20.0,The University of Tokyo,1,45.9,33.8,14.1,41.9,52.7,80.9,34.0,2007,NaN
1997,21.0,University of Michigan - Ann Arbor,18,44.0,40.3,0.0,60.7,40.8,77.1,30.7,2007,NaN
2002,23.0,"The Imperial College of Science, Technology and Medicine",3,43.0,19.5,37.4,40.6,39.7,62.2,39.4,2007,NaN
2011,26.0,University of Illinois at Urbana-Champaign,19,42.7,39.0,36.6,44.5,36.4,57.6,26.2,2007,NaN
2012,27.0,Swiss Federal Institute of Technology Zurich,1,39.9,37.7,36.3,35.5,39.9,38.4,50.5,2007,NaN
2037,34.0,University of Colorado at Boulder,26,36.6,15.6,30.8,39.9,38.8,45.7,30.0,2007,NaN
2050,38.0,The University of Texas at Austin,29,34.4,20.4,16.7,46.9,28.0,54.8,21.3,2007,NaN
2051,39.0,Pierre and Marie Curie University - Paris 6,1,33.8,38.4,23.6,23.4,27.2,54.2,33.5,2007,NaN
2052,39.0,The University of Texas Southwestern Medical Center at Dallas,30,33.8,22.8,33.2,30.6,35.5,38.0,31.9,2007,NaN
2061,43.0,Pennsylvania State University - University Park,32,32.7,13.2,0.0,45.1,37.7,58.0,23.7,2007,NaN
2074,47.0,"Rutgers, The State University of New Jersey",35,32.1,14.4,20.0,39.9,32.1,44.8,24.2,2007,NaN
2075,48.0,The University of Manchester,5,32.0,25.6,18.9,24.6,28.3,56.9,28.4,2007,NaN
2076,49.0,University of Pittsburgh,36,31.9,23.5,0.0,39.9,23.6,65.6,28.5,2007,NaN
2085,52.0,University of Paris Sud (Paris 11),2,30.9,31.3,39.1,14.8,20.4,44.8,30.8,2007,NaN
2090,53.0,The University of Edinburgh,6,30.8,21.2,16.7,26.7,34.2,47.0,29.3,2007,NaN
2091,53.0,University of Munich,1,30.8,34.8,22.9,14.8,27.1,51.8,31.1,2007,NaN
2092,56.0,Technical University Munich,2,30.6,40.3,23.6,25.7,20.2,44.4,29.9,2007,NaN
2093,57.0,The Australian National University,1,30.4,16.6,12.6,36.3,30.0,44.7,32.2,2007,NaN
2106,61.0,The Ohio State University - Columbus,41,29.5,16.6,0.0,41.9,22.0,61.2,19.8,2007,NaN
2114,64.0,The Hebrew University of Jerusalem,1,29.0,31.1,20.0,24.6,23.3,43.6,28.2,2007,NaN
2115,65.0,University of Heidelberg,3,28.9,18.6,27.2,18.2,22.8,48.7,29.0,2007,NaN
2122,68.0,Purdue University - West Lafayette,42,28.3,17.6,16.7,29.6,20.9,51.3,20.2,2007,NaN
2134,72.0,The University of Sheffield,8,27.9,22.0,14.1,22.2,27.8,46.0,29.5,2007,NaN
2147,76.0,Moscow State University,1,27.1,51.6,34.2,0.0,7.5,48.5,31.6,2007,NaN
2168,83.0,Ecole Normale Superieure - Paris,3,25.5,48.5,31.6,12.8,16.8,25.8,25.8,2007,NaN
2180,87.0,University of Goettingen,4,25.0,36.3,20.0,14.8,16.3,39.7,25.2,2007,NaN
2181,90.0,Indiana University Bloomington,50,24.9,13.2,17.9,27.7,20.0,39.9,18.0,2007,NaN
2182,91.0,Texas A&M University - College Station,51,24.8,0.0,0.0,33.1,23.6,53.7,20.3,2007,NaN
2193,94.0,University of Freiburg,5,24.1,23.5,20.9,16.6,18.9,37.4,23.6,2007,NaN
2194,96.0,Arizona State University - Tempe,53,24.0,0.0,14.1,24.6,26.1,42.7,18.2,2007,NaN
2975,16.0,University of Washington,14,48.3,25.7,31.8,53.1,49.5,74.1,28.0,2008,NaN
2976,17.0,University of Wisconsin - Madison,15,47.4,38.4,35.5,52.6,41.2,68.1,28.8,2008,NaN
2981,19.0,The University of Tokyo,1,46.4,32.2,14.1,43.1,51.9,83.3,35.0,2008,NaN
2982,20.0,The Johns Hopkins University,17,45.5,45.8,27.8,43.1,48.7,68.5,24.8,2008,NaN
2983,21.0,University of Michigan - Ann Arbor,18,44.2,38.4,0.0,60.6,41.7,78.1,31.4,2008,NaN
2992,24.0,Swiss Federal Institute of Technology Zurich,1,43.1,35.9,36.3,36.1,38.1,53.6,56.0,2008,NaN
2997,26.0,University of Illinois at Urbana-Champaign,19,42.9,37.1,36.6,43.8,36.1,60.3,26.9,2008,NaN
2998,27.0,"The Imperial College of Science, Technology and Medicine",4,42.4,18.6,37.4,39.9,38.2,61.8,39.4,2008,NaN
3023,34.0,University of Colorado at Boulder,26,36.4,14.8,30.8,39.3,39.4,45.5,30.4,2008,NaN
3040,39.0,The University of Texas at Austin,30,33.7,19.4,16.7,46.1,26.7,54.2,21.3,2008,NaN
3041,40.0,The University of Manchester,5,33.6,24.4,18.9,28.2,28.3,60.5,30.4,2008,NaN
3042,41.0,The University of Texas Southwestern Medical Center at Dallas,31,33.3,21.7,33.2,30.9,31.7,39.3,32.1,2008,NaN
3043,42.0,Pennsylvania State University - University Park,32,33.1,12.5,0.0,45.5,38.5,58.9,24.4,2008,NaN
3044,42.0,Pierre and Marie Curie University - Paris 6,1,33.1,36.6,23.6,23.1,27.3,58.2,21.3,2008,NaN
3065,49.0,University of Paris Sud (Paris 11),2,32.1,33.3,46.2,14.6,20.4,47.0,23.1,2008,NaN
3074,52.0,University of Pittsburgh,37,31.3,22.4,0.0,40.6,23.2,63.1,28.3,2008,NaN
3079,54.0,"Rutgers, The State University of New Jersey",38,30.9,13.7,20.0,39.9,27.9,44.0,23.8,2008,NaN
3080,55.0,The University of Edinburgh,6,30.8,20.2,16.7,26.3,32.3,49.7,30.0,2008,NaN
3081,55.0,University of Munich,1,30.8,33.1,22.9,16.3,25.6,52.7,31.8,2008,NaN
3082,57.0,Technical University Munich,2,30.5,41.1,23.6,25.3,18.9,44.8,30.6,2008,NaN
3087,59.0,The Australian National University,1,30.0,15.8,12.6,35.7,30.5,43.4,32.2,2008,NaN
3099,62.0,The Ohio State University - Columbus,40,29.3,15.8,0.0,41.9,19.8,63.0,20.3,2008,NaN
3104,65.0,Purdue University - West Lafayette,42,28.8,16.8,16.7,30.1,22.0,52.8,21.0,2008,NaN
3105,65.0,The Hebrew University of Jerusalem,1,28.8,29.6,20.0,24.2,22.9,44.1,28.7,2008,NaN
3106,67.0,University of Heidelberg,3,28.4,17.7,27.2,17.9,20.4,49.2,29.3,2008,NaN
3115,70.0,Moscow State University,1,28.1,49.1,34.2,0.0,8.3,53.2,33.4,2008,NaN
3122,73.0,Ecole Normale Superieure - Paris,3,27.7,53.4,24.5,12.6,17.2,25.9,56.2,2008,NaN
3132,77.0,The University of Sheffield,8,27.5,20.9,14.1,21.9,25.5,47.0,29.7,2008,NaN
3164,88.0,Texas A&M University - College Station,50,25.2,0.0,0.0,32.6,24.5,55.0,20.9,2008,NaN
3167,90.0,University of Goettingen,4,24.9,34.5,20.0,14.6,16.5,40.3,25.6,2008,NaN
3170,92.0,Indiana University Bloomington,51,24.6,12.5,17.9,26.3,21.2,39.3,18.1,2008,NaN
3171,93.0,Arizona State University - Tempe,52,24.5,0.0,14.1,24.2,28.2,43.1,18.9,2008,NaN
3178,96.0,University of Freiburg,5,24.2,22.4,20.9,16.3,19.2,38.0,24.2,2008,NaN
3948,16.0,University of Washington,14,48.0,25.0,31.8,53.3,48.8,73.7,28.1,2009,NaN
3949,17.0,University of Wisconsin - Madison,15,46.7,37.5,35.5,52.3,39.8,66.7,28.6,2009,NaN
3954,19.0,The Johns Hopkins University,17,45.2,44.7,27.8,41.7,49.1,67.1,24.9,2009,NaN
3955,20.0,The University of Tokyo,1,45.1,34.1,14.1,42.9,49.0,79.7,34.1,2009,NaN
3960,22.0,University of Michigan - Ann Arbor,18,43.8,37.5,0.0,60.3,41.4,77.3,31.4,2009,NaN
3961,23.0,Swiss Federal Institute of Technology Zurich,1,43.6,35.0,36.3,35.9,41.8,52.6,57.0,2009,NaN
3966,25.0,University of Illinois at Urbana-Champaign,19,42.4,36.2,36.6,42.9,35.9,59.7,26.8,2009,NaN
3967,26.0,"The Imperial College of Science, Technology and Medicine",4,41.9,18.1,37.4,40.4,35.9,61.7,39.4,2009,NaN
3996,34.0,University of Colorado at Boulder,26,36.4,14.5,30.8,39.1,39.8,45.2,30.6,2009,NaN
4009,38.0,The University of Texas at Austin,29,34.0,18.9,16.7,46.5,27.7,54.3,21.6,2009,NaN
4014,40.0,Pierre and Marie Curie University - Paris 6,1,33.3,35.7,23.6,22.9,27.7,59.3,21.7,2009,NaN
4015,41.0,The University of Manchester,5,33.0,23.8,18.9,28.1,28.5,58.3,29.9,2009,NaN
4024,43.0,University of Paris Sud (Paris 11),2,32.7,32.5,46.2,14.5,20.1,50.3,23.9,2009,NaN
4025,45.0,Pennsylvania State University - University Park,32,32.5,12.2,0.0,45.9,37.6,56.9,24.1,2009,NaN
4034,48.0,The University of Texas Southwestern Medical Center at Dallas,35,32.2,21.2,33.2,30.8,27.8,39.1,31.1,2009,NaN
4043,50.0,University of Pittsburgh,37,31.7,21.9,0.0,42.3,24.1,62.6,28.7,2009,NaN
4048,53.0,The University of Edinburgh,6,31.0,19.7,16.7,27.1,32.2,50.1,30.5,2009,NaN
4053,55.0,"Rutgers, The State University of New Jersey - New Brunswick",38,30.4,13.4,20.0,40.4,25.8,43.4,23.6,2009,NaN
4054,55.0,University of Munich,1,30.4,32.3,22.9,16.2,24.5,52.5,31.4,2009,NaN
4055,57.0,Technical University Munich,2,30.2,40.1,23.6,25.1,18.1,45.2,30.4,2009,NaN
4064,59.0,The Australian National University,1,29.6,15.5,12.6,36.3,27.2,44.1,32.2,2009,NaN
4068,62.0,The Ohio State University - Columbus,41,29.1,15.5,0.0,41.7,20.9,61.3,20.2,2009,NaN
4069,63.0,University of Heidelberg,3,28.7,17.3,27.2,17.8,22.5,49.0,29.5,2009,NaN
4070,64.0,The Hebrew University of Jerusalem,1,28.6,28.9,20.0,24.1,22.6,43.9,28.5,2009,NaN
4078,65.0,Purdue University - West Lafayette,42,28.5,16.4,16.7,29.9,21.9,51.7,20.9,2009,NaN
4087,70.0,Ecole Normale Superieure - Paris,3,28.1,52.1,24.5,12.6,17.9,27.6,57.1,2009,NaN
4107,77.0,Moscow State University,1,26.9,47.9,34.2,0.0,8.2,48.7,31.7,2009,NaN
4120,81.0,The University of Sheffield,9,26.3,20.4,14.1,21.8,23.0,44.6,28.5,2009,NaN
4141,88.0,Texas A&M University - College Station,50,25.2,0.0,0.0,33.2,23.9,54.9,21.1,2009,NaN
4142,90.0,University of Goettingen,4,24.9,33.7,20.0,14.5,16.6,40.7,25.6,2009,NaN
4149,93.0,Indiana University Bloomington,52,24.4,12.2,17.9,26.2,19.3,40.4,18.2,2009,NaN
4150,94.0,Arizona State University - Tempe,53,24.3,0.0,14.1,22.9,27.6,44.4,19.1,2009,NaN
4919,16.0,University of Washington,14,48.7,24.4,31.7,53.9,51.6,72.5,28.1,2010,NaN
4920,17.0,University of Wisconsin - Madison,15,46.4,36.5,35.4,51.9,40.2,66.1,25.7,2010,NaN
4921,18.0,The Johns Hopkins University,16,46.0,43.6,32.1,42.0,49.4,64.0,27.2,2010,NaN
4926,20.0,The University of Tokyo,1,45.9,33.3,14.1,42.0,52.0,80.4,34.5,2010,NaN
4931,22.0,University of Michigan - Ann Arbor,18,44.2,36.5,0.0,59.8,43.4,79.8,26.3,2010,NaN
4932,23.0,Swiss Federal Institute of Technology Zurich,1,43.4,34.1,36.1,36.3,43.6,53.6,47.1,2010,NaN
4937,25.0,University of Illinois at Urbana-Champaign,19,42.6,35.4,36.5,42.6,37.1,58.6,27.8,2010,NaN
4938,26.0,"The Imperial College of Science, Technology and Medicine",4,41.9,17.7,37.2,41.4,36.9,62.3,33.0,2010,NaN
4963,32.0,University of Colorado at Boulder,24,37.1,14.1,30.7,38.8,41.7,44.7,33.5,2010,NaN
4980,38.0,The University of Texas at Austin,29,34.5,18.5,16.6,46.1,28.4,54.4,24.7,2010,NaN
4981,39.0,Pierre and Marie Curie University - Paris 6,1,34.2,34.8,23.5,24.9,28.8,59.9,21.9,2010,NaN
4994,43.0,Pennsylvania State University - University Park,31,32.6,11.9,0.0,46.6,37.4,56.1,23.2,2010,NaN
4995,44.0,The University of Manchester,5,32.4,23.2,18.9,27.9,28.0,59.1,23.1,2010,NaN
4996,45.0,University of Paris Sud (Paris 11),2,32.3,31.7,46.0,12.5,20.8,49.9,23.6,2010,NaN
5009,49.0,The University of Texas Southwestern Medical Center at Dallas,35,31.8,20.6,33.1,30.5,29.9,38.4,23.5,2010,NaN
5018,52.0,University of Munich,1,31.1,31.5,22.8,16.1,26.3,54.5,30.7,2010,NaN
5023,54.0,"Rutgers, The State University of New Jersey",37,30.9,13.1,19.9,40.1,27.9,43.7,23.2,2010,NaN
5024,54.0,The University of Edinburgh,6,30.9,19.2,16.6,26.0,34.2,51.3,23.9,2010,NaN
5025,56.0,Technical University Munich,2,30.7,39.2,23.5,24.9,19.5,46.5,29.2,2010,NaN
5026,56.0,University of Pittsburgh,38,30.7,21.3,0.0,42.0,23.4,63.1,19.0,2010,NaN
5031,59.0,The Australian National University,1,29.6,15.1,12.6,36.0,27.8,43.8,31.1,2010,NaN
5032,59.0,The Ohio State University - Columbus,40,29.6,15.1,0.0,41.7,22.8,62.0,19.1,2010,NaN
5042,63.0,University of Heidelberg,3,29.1,16.9,27.0,17.6,23.0,50.6,28.6,2010,NaN
5056,69.0,Purdue University - West Lafayette,43,28.6,16.0,16.6,29.7,22.4,51.8,20.6,2010,NaN
5060,71.0,Ecole Normale Superieure - Paris,3,28.3,50.8,24.4,12.5,18.7,27.9,56.7,2010,NaN
5061,72.0,The Hebrew University of Jerusalem,1,28.1,31.5,19.9,24.9,20.8,41.6,26.5,2010,NaN
5066,74.0,Moscow State University,1,27.9,46.8,34.1,0.0,9.6,52.4,31.2,2010,NaN
5089,81.0,Arizona State University - Tempe,46,26.1,0.0,19.9,24.9,26.9,44.3,21.1,2010,NaN
5111,88.0,The University of Sheffield,10,25.2,19.9,14.1,21.0,21.3,44.3,22.6,2010,NaN
5114,90.0,Indiana University Bloomington,50,25.1,11.9,22.7,24.9,18.5,39.9,19.6,2010,NaN
5121,93.0,University of Goettingen,4,24.9,32.9,19.9,14.4,17.2,40.7,24.3,2010,NaN
5122,95.0,Texas A&M University - College Station,51,24.8,0.0,0.0,34.5,21.0,54.0,21.0,2010,NaN
5888,16.0,University of Washington,14,48.8,24.3,31.7,55.0,51.9,72.4,27.3,2011,NaN
5893,18.0,The Johns Hopkins University,16,45.9,43.2,32.1,42.1,47.9,65.6,26.8,2011,NaN
5894,19.0,University of Wisconsin - Madison,17,45.6,35.3,35.4,52.0,39.7,64.2,24.6,2011,NaN
5899,21.0,The University of Tokyo,1,44.6,35.3,14.1,42.1,52.7,75.8,28.3,2011,NaN
5900,22.0,University of Michigan - Ann Arbor,18,44.1,36.7,0.0,60.4,45.0,77.7,25.1,2011,NaN
5901,23.0,Swiss Federal Institute of Technology Zurich,1,43.2,33.8,36.1,36.4,43.6,53.8,46.1,2011,NaN
5902,24.0,"The Imperial College of Science, Technology and Medicine",4,42.6,16.6,37.2,41.5,39.6,62.7,34.5,2011,NaN
5903,25.0,University of Illinois at Urbana-Champaign,19,42.5,34.3,36.5,43.9,38.2,57.0,27.4,2011,NaN
5928,32.0,University of Colorado at Boulder,24,37.2,14.4,30.7,39.5,42.2,44.8,32.0,2011,NaN
5941,35.0,The University of Texas at Austin,27,35.1,18.6,16.6,45.6,31.7,55.2,24.1,2011,NaN
5946,38.0,The University of Manchester,5,34.8,21.2,33.9,28.0,27.7,56.6,23.8,2011,NaN
5951,40.0,University of Paris Sud (Paris 11),1,34.6,32.2,53.9,16.1,20.3,49.0,24.8,2011,NaN
5952,41.0,Pierre and Marie Curie University - Paris 6,2,34.3,35.4,23.5,25.0,30.1,59.4,21.6,2011,NaN
5965,45.0,Pennsylvania State University - University Park,31,32.1,11.8,0.0,46.2,36.9,55.5,22.2,2011,NaN
5970,47.0,Technical University Munich,1,31.8,39.9,23.5,25.0,21.9,48.1,31.8,2011,NaN
5983,51.0,The University of Texas Southwestern Medical Center at Dallas,35,31.6,21.2,33.1,31.5,29.4,37.8,21.6,2011,NaN
5988,53.0,The University of Edinburgh,6,31.2,23.5,16.6,27.0,34.2,50.3,23.5,2011,NaN
5989,54.0,University of Munich,2,30.9,29.4,22.8,16.1,28.2,52.4,31.8,2011,NaN
5998,57.0,The Hebrew University of Jerusalem,1,30.3,36.7,28.1,25.0,20.0,40.7,29.7,2011,NaN
5999,57.0,University of Pittsburgh,38,30.3,21.2,0.0,42.1,24.2,60.8,18.1,2011,NaN
6000,59.0,"Rutgers, The State University of New Jersey - New Brunswick",39,30.1,11.8,19.9,39.5,26.5,43.3,21.9,2011,NaN

In [23]:
#There are still missing country values, I will only add country values for the top 100 as there are over 1000 country values missing.
df1.loc[df1['institution'] == 'University of Wisconsin - Madison', 'country'] = 'United States of America'
df1.loc[df1['institution'] == 'University of Washington', 'country'] = 'United States of America'
df1.loc[df1['institution'] == 'The Johns Hopkins University', 'country'] = 'United States of America'
df1.loc[df1['institution'] == 'The University of Tokyo', 'country'] = 'Japan'
df1.loc[df1['institution'] == 'University of Michigan - Ann Arbor', 'country'] = 'United States of America'
df1.loc[df1['institution'] == 'University of Illinois at Urbana-Champaign', 'country'] = 'United States of America'
df1.loc[df1['institution'] == 'Swiss Federal Institute of Technology Zurich', 'country'] = 'Switzerland'
df1.loc[df1['institution'] == 'University of Colorado at Boulder', 'country'] = 'United States of America'
df1.loc[df1['institution'] == 'The University of Texas at Austin', 'country'] = 'United States of America'
df1.loc[df1['institution'] == 'Pennsylvania State University - University Park', 'country'] = 'United States of America'
df1.loc[df1['institution'] == 'University of Pittsburgh', 'country'] = 'United States of America'
df1.loc[df1['institution'] == 'The University of Edinburgh', 'country'] = 'United Kingdom'
df1.loc[df1['institution'] == 'University of Munich', 'country'] = 'Germany'
df1.loc[df1['institution'] == 'Technical University Munich', 'country'] = 'Germany'
df1.loc[df1['institution'] == 'The University of Manchester', 'country'] = 'United Kingdom'
df1.loc[df1['institution'] == 'The Australian National University', 'country'] = 'Australia'
df1.loc[df1['institution'] == 'University of Paris Sud (Paris 11)', 'country'] = 'France'
df1.loc[df1['institution'] == 'The Ohio State University - Columbus', 'country'] = 'United States of America'
df1.loc[df1['institution'] == 'The University of Sheffield', 'country'] = 'United Kingdom'
df1.loc[df1['institution'] == 'Moscow State University', 'country'] = 'Russia'
df1.loc[df1['institution'] == 'The Hebrew University of Jerusalem', 'country'] = 'Israel'
df1.loc[df1['institution'] == 'Texas A&M University - College Station', 'country'] = 'United States of America'
df1.loc[df1['institution'] == 'Ecole Normale Superieure - Paris', 'country'] = 'France'
df1.loc[df1['institution'] == 'Indiana University Bloomington', 'country'] = 'United States of America'
df1.loc[df1['institution'] == 'Arizona State University - Tempe', 'country'] = 'United States of America'
df1.loc[df1['institution'] == 'Rutgers, The State University of New Jersey', 'country'] = 'United States of America'
df1.loc[df1['institution'] == 'Purdue University - West Lafayette', 'country'] = 'United States of America'
df1.loc[df1['institution'] == 'University of Goettingen', 'country'] = 'Germany'
df1.loc[df1['institution'] == 'University of Freiburg', 'country'] = 'Germany'
df1.loc[df1['institution'] == 'University of Roma - La Sapienza', 'country'] = 'Italy'
df1.loc[df1['institution'] == 'University of Heidelberg', 'country'] = 'Germany'
df1.loc[df1['institution'] == 'Rutgers, The State University of New Jersey - New Brunswick', 'country'] = 'United States of America'
df1.loc[df1['institution'] == 'Texas A&M University', 'country'] = 'United States of America'
df1.loc[df1['institution'] == 'The University of Texas Southwestern Medical Center at Dallas', 'country'] = 'United States of America'
df1.loc[df1['institution'] == 'The Imperial College of Science, Technology and Medicine', 'country'] = 'United Kingdom'
df1.loc[df1['institution'] == 'University of Pittsburgh, Pittsburgh Campus', 'country'] = 'United States of America'
df1.loc[df1['institution'] == 'Technion-Israel Institute of Technology', 'country'] = 'Israel'
df1.loc[df1['institution'] == 'The University of Queensland', 'country'] = 'Australia'
df1.loc[df1['institution'] == 'The University of Western Australia', 'country'] = 'Australia'
df1.loc[df1['institution'] == 'University of Paris-Sud (Paris 11)', 'country'] = 'France'
df1.loc[df1['institution'] == 'KU Leuven', 'country'] = 'Belgium'
df1.loc[df1['institution'] == 'Heidelberg University', 'country'] = 'Germany'
df1.loc[df1['institution'] == 'The University of Melbourne', 'country'] = 'Australia'
df1.loc[df1['institution'] == 'University of Michigan-Ann Arbor', 'country'] = 'United States of America'
df1.loc[df1['institution'] == 'University of Pittsburgh-Pittsburgh Campus', 'country'] = 'United States of America'
df1.loc[df1['institution'] == 'Swiss Federal Institute of Technology Lausanne', 'country'] = 'Switzerland'
df1.loc[df1['institution'] == 'University of Frankfurt', 'country'] = 'Germany'
df1.loc[df1['institution'] == 'University of California-Berkeley', 'country'] = 'United States of America'
df1.loc[df1['institution'] == 'Texas A & M University', 'country'] = 'United States of America'
df1.loc[df1['institution'] == 'University of Pittsburgh-Pittsburgh Campus', 'country'] = 'United States of America'
df1.loc[df1['institution'] == 'Pierre and Marie Curie University - Paris 6', 'country'] = 'France'

In [24]:
df1[(df1['shanghai_world_rank']<=100) & df1['country'].isnull()]

,shanghai_world_rank,institution,shanghai_national_rank,shanghai_total_score,alumni,award,hici,ns,pub,pcp,year,country
138,46.0,Pierre and Marie Curie University - Paris 6,1,32.0,35.7,23.9,23.6,24.2,51.2,30.0,2005,NaN
1104,45.0,Pierre and Marie Curie University - Paris 6,1,32.4,34.4,23.5,23.1,24.9,52.9,32.5,2006,NaN
2051,39.0,Pierre and Marie Curie University - Paris 6,1,33.8,38.4,23.6,23.4,27.2,54.2,33.5,2007,NaN
3044,42.0,Pierre and Marie Curie University - Paris 6,1,33.1,36.6,23.6,23.1,27.3,58.2,21.3,2008,NaN
4014,40.0,Pierre and Marie Curie University - Paris 6,1,33.3,35.7,23.6,22.9,27.7,59.3,21.7,2009,NaN
4981,39.0,Pierre and Marie Curie University - Paris 6,1,34.2,34.8,23.5,24.9,28.8,59.9,21.9,2010,NaN
5952,41.0,Pierre and Marie Curie University - Paris 6,2,34.3,35.4,23.5,25.0,30.1,59.4,21.6,2011,NaN
6931,42.0,Pierre and Marie Curie University - Paris 6,2,33.4,32.5,19.4,25.1,31.0,59.9,21.5,2012,NaN
7508,37.0,Pierre and Marie Curie University - Paris 6,1.0,35.3,35.1,27.6,25.1,30.8,59.1,22.8,2013,NaN
7666,99.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013,NaN
7776,35.0,Pierre and Marie Curie University - Paris 6,1,35.4,34.5,27.4,25.8,30.2,60.0,23.8,2014,NaN
8771,36.0,Pierre and Marie Curie University - Paris 6,1,35.0,33.6,27.4,25.8,29.8,59.2,23.9,2015,NaN

In [25]:
#have to drop na values before the next command
df1.dropna(subset = ['institution', 'shanghai_world_rank', 'year'], inplace = True)

In [26]:
df1.loc[df1['institution'].str.contains('Paris'), 'country'] = 'France'

In [27]:
df1.head()

,shanghai_world_rank,institution,shanghai_national_rank,shanghai_total_score,alumni,award,hici,ns,pub,pcp,year,country
0,1.0,Harvard University,1,100.0,100.0,100.0,100.0,100.0,100.0,72.4,2005,United States of America
1,1.0,Harvard University,1,100.0,100.0,100.0,100.0,100.0,100.0,72.4,2005,United States of America
2,1.0,Harvard University,1,100.0,100.0,100.0,100.0,100.0,100.0,72.4,2005,United States of America
3,1.0,Harvard University,1,100.0,100.0,100.0,100.0,100.0,100.0,72.4,2005,United States of America
4,2.0,University of Cambridge,1,73.6,99.8,93.4,53.3,56.6,70.9,66.9,2005,United Kingdom

In [28]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9649 entries, 0 to 9649
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   shanghai_world_rank     9649 non-null   float64
 1   institution             9649 non-null   object
 2   shanghai_national_rank  9649 non-null   object
 3   shanghai_total_score    3036 non-null   float64
 4   alumni                  9649 non-null   float64
 5   award                   9647 non-null   float64
 6   hici                    9647 non-null   float64
 7   ns                      9625 non-null   float64
 8   pub                     9647 non-null   float64
 9   pcp                     9647 non-null   float64
 10  year                    9649 non-null   int64
 11  country                 8573 non-null   object
dtypes: float64(8), int64(1), object(3)
memory usage: 980.0+ KB

add flags

In [29]:
df1.loc[df1['shanghai_world_rank'] <=100, 'shanghai_rank_flag_top_x'] = '100'
df1.loc[(df1['shanghai_world_rank'] > 100) & (df1['shanghai_world_rank'] <= 200), 'shanghai_rank_flag_top_x'] = '200'
df1.loc[(df1['shanghai_world_rank'] > 200) & (df1['shanghai_world_rank'] <= 300), 'shanghai_rank_flag_top_x'] = '300'
df1.loc[(df1['shanghai_world_rank'] > 300) & (df1['shanghai_world_rank'] <= 400), 'shanghai_rank_flag_top_x'] = '400'
df1.loc[df1['shanghai_world_rank'] > 400, 'shanghai_rank_flag_top_x'] = '1000'

In [30]:
df1['shanghai_rank_flag_top_x'] = df1['shanghai_rank_flag_top_x'].astype('float64')

create a continent column

In [31]:
df3 = df1[['institution', 'country']]

In [32]:
df3.head()

               institution                   country
0       Harvard University  United States of America
1       Harvard University  United States of America
2       Harvard University  United States of America
3       Harvard University  United States of America
4  University of Cambridge            United Kingdom

In [33]:
df3.dropna(subset = ['country'], inplace = True)

C:\Users\justi\AppData\Local\Temp\ipykernel_4488\4221729637.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.dropna(subset = ['country'], inplace = True)

In [34]:
df3['country'].value_counts()

United States of America    3066
United Kingdom               678
Japan                        580
China                        468
Canada                       456
Germany                      415
Italy                        311
Australia                    287
Netherlands                  223
Sweden                       182
South Korea                  176
France                       174
Switzerland                  173
Spain                        164
Israel                       154
Austria                      112
Denmark                      108
Finland                      106
Norway                        80
South Africa                  66
New Zealand                   64
Singapore                     50
Brazil                        48
Belgium                       44
Greece                        36
Ireland                       36
Poland                        36
Portugal                      34
India                         31
Russia                        29
Saudi Arabia                  20
Mexico                        20
Argentina                     20
Czech Republic                20
Chile                         18
Turkey                        18
Hungary                       18
Slovenia                      14
Iran                          12
Egypt                         10
Malaysia                      10
Serbia                         4
Croatia                        2
Name: country, dtype: int64

In [35]:
f = lambda x: pc.country_name_to_country_alpha2(x, cn_name_format = 'default')
df3['country_code'] = df3['country'].apply(f)

C:\Users\justi\AppData\Local\Temp\ipykernel_4488\3624878461.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['country_code'] = df3['country'].apply(f)

In [36]:
df3['country'].value_counts()

United States of America    3066
United Kingdom               678
Japan                        580
China                        468
Canada                       456
Germany                      415
Italy                        311
Australia                    287
Netherlands                  223
Sweden                       182
South Korea                  176
France                       174
Switzerland                  173
Spain                        164
Israel                       154
Austria                      112
Denmark                      108
Finland                      106
Norway                        80
South Africa                  66
New Zealand                   64
Singapore                     50
Brazil                        48
Belgium                       44
Greece                        36
Ireland                       36
Poland                        36
Portugal                      34
India                         31
Russia                        29
Saudi Arabia                  20
Mexico                        20
Argentina                     20
Czech Republic                20
Chile                         18
Turkey                        18
Hungary                       18
Slovenia                      14
Iran                          12
Egypt                         10
Malaysia                      10
Serbia                         4
Croatia                        2
Name: country, dtype: int64

In [37]:
f2 = lambda x: pc.country_alpha2_to_continent_code(x)
df3['continent_code'] = df3['country_code'].apply(f2)

C:\Users\justi\AppData\Local\Temp\ipykernel_4488\3765887154.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['continent_code'] = df3['country_code'].apply(f2)

In [38]:
df3['country'].value_counts()

United States of America    3066
United Kingdom               678
Japan                        580
China                        468
Canada                       456
Germany                      415
Italy                        311
Australia                    287
Netherlands                  223
Sweden                       182
South Korea                  176
France                       174
Switzerland                  173
Spain                        164
Israel                       154
Austria                      112
Denmark                      108
Finland                      106
Norway                        80
South Africa                  66
New Zealand                   64
Singapore                     50
Brazil                        48
Belgium                       44
Greece                        36
Ireland                       36
Poland                        36
Portugal                      34
India                         31
Russia                        29
Saudi Arabia                  20
Mexico                        20
Argentina                     20
Czech Republic                20
Chile                         18
Turkey                        18
Hungary                       18
Slovenia                      14
Iran                          12
Egypt                         10
Malaysia                      10
Serbia                         4
Croatia                        2
Name: country, dtype: int64

In [39]:
df3 = df3.drop(columns = ['institution'])

In [40]:
df3 = df3.drop_duplicates()

In [41]:
df3 = df3.reset_index(drop=True)

In [42]:
df3

                     country country_code continent_code
0   United States of America           US             NA
1             United Kingdom           GB             EU
2                      Japan           JP             AS
3                     Canada           CA             NA
4                Switzerland           CH             EU
5                Netherlands           NL             EU
6                     Sweden           SE             EU
7                     France           FR             EU
8                    Germany           DE             EU
9                  Australia           AU             OC
10                   Denmark           DK             EU
11                    Russia           RU             EU
12                    Norway           NO             EU
13                   Finland           FI             EU
14                    Israel           IL             AS
15                   Austria           AT             EU
16                     Italy           IT             EU
17                   Belgium           BE             EU
18                 Singapore           SG             AS
19               South Korea           KR             AS
20                     Spain           ES             EU
21                    Mexico           MX             NA
22                     China           CN             AS
23            Czech Republic           CZ             EU
24                    Greece           GR             EU
25                 Argentina           AR             SA
26              South Africa           ZA             AF
27                   Hungary           HU             EU
28                    Brazil           BR             SA
29                     India           IN             AS
30                    Poland           PL             EU
31                     Chile           CL             SA
32               New Zealand           NZ             OC
33                    Turkey           TR             AS
34                   Ireland           IE             EU
35                  Portugal           PT             EU
36                     Egypt           EG             AF
37                  Slovenia           SI             EU
38              Saudi Arabia           SA             AS
39                      Iran           IR             AS
40                  Malaysia           MY             AS
41                   Croatia           HR             EU
42                    Serbia           RS             EU

In [43]:
final_df = df1.merge(df3, on = 'country', how = 'left')

In [44]:
final_df['country'].value_counts()

United States of America    3066
United Kingdom               678
Japan                        580
China                        468
Canada                       456
Germany                      415
Italy                        311
Australia                    287
Netherlands                  223
Sweden                       182
South Korea                  176
France                       174
Switzerland                  173
Spain                        164
Israel                       154
Austria                      112
Denmark                      108
Finland                      106
Norway                        80
South Africa                  66
New Zealand                   64
Singapore                     50
Brazil                        48
Belgium                       44
Greece                        36
Ireland                       36
Poland                        36
Portugal                      34
India                         31
Russia                        29
Saudi Arabia                  20
Mexico                        20
Argentina                     20
Czech Republic                20
Chile                         18
Turkey                        18
Hungary                       18
Slovenia                      14
Iran                          12
Egypt                         10
Malaysia                      10
Serbia                         4
Croatia                        2
Name: country, dtype: int64

In [45]:
final_df.isnull().sum()

shanghai_world_rank            0
institution                    0
shanghai_national_rank         0
shanghai_total_score        6613
alumni                         0
award                          2
hici                           2
ns                            24
pub                            2
pcp                            2
year                           0
country                     1076
shanghai_rank_flag_top_x       0
country_code                1076
continent_code              1076
dtype: int64

In [46]:
df1.isnull().sum()

shanghai_world_rank            0
institution                    0
shanghai_national_rank         0
shanghai_total_score        6613
alumni                         0
award                          2
hici                           2
ns                            24
pub                            2
pcp                            2
year                           0
country                     1076
shanghai_rank_flag_top_x       0
dtype: int64

In [47]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9649 entries, 0 to 9648
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   shanghai_world_rank       9649 non-null   float64
 1   institution               9649 non-null   object
 2   shanghai_national_rank    9649 non-null   object
 3   shanghai_total_score      3036 non-null   float64
 4   alumni                    9649 non-null   float64
 5   award                     9647 non-null   float64
 6   hici                      9647 non-null   float64
 7   ns                        9625 non-null   float64
 8   pub                       9647 non-null   float64
 9   pcp                       9647 non-null   float64
 10  year                      9649 non-null   int64
 11  country                   8573 non-null   object
 12  shanghai_rank_flag_top_x  9649 non-null   float64
 13  country_code              8573 non-null   object
 14  continent_code            8573 non-null   object
dtypes: float64(9), int64(1), object(5)
memory usage: 1.2+ MB

In [48]:
final_df = final_df.drop_duplicates()

In [49]:
final_df.head()

,shanghai_world_rank,institution,shanghai_national_rank,shanghai_total_score,alumni,award,hici,ns,pub,pcp,year,country,shanghai_rank_flag_top_x,country_code,continent_code
0,1.0,Harvard University,1,100.0,100.0,100.0,100.0,100.0,100.0,72.4,2005,United States of America,100.0,US,NA
4,2.0,University of Cambridge,1,73.6,99.8,93.4,53.3,56.6,70.9,66.9,2005,United Kingdom,100.0,GB,EU
8,3.0,Stanford University,2,73.4,41.1,72.2,88.5,70.9,72.3,65.0,2005,United States of America,100.0,US,NA
12,4.0,"University of California, Berkeley",3,72.8,71.8,76.0,69.4,73.9,72.2,52.7,2005,United States of America,100.0,US,NA
16,5.0,Massachusetts Institute of Technology,4,70.1,74.0,80.6,66.7,65.8,64.3,53.0,2005,United States of America,100.0,US,NA

In [50]:
final_df.reset_index(inplace = True)

In [51]:
final_df = final_df.drop(columns = ['index'])

In [52]:
final_df.head()

,shanghai_world_rank,institution,shanghai_national_rank,shanghai_total_score,alumni,award,hici,ns,pub,pcp,year,country,shanghai_rank_flag_top_x,country_code,continent_code
0,1.0,Harvard University,1,100.0,100.0,100.0,100.0,100.0,100.0,72.4,2005,United States of America,100.0,US,NA
1,2.0,University of Cambridge,1,73.6,99.8,93.4,53.3,56.6,70.9,66.9,2005,United Kingdom,100.0,GB,EU
2,3.0,Stanford University,2,73.4,41.1,72.2,88.5,70.9,72.3,65.0,2005,United States of America,100.0,US,NA
3,4.0,"University of California, Berkeley",3,72.8,71.8,76.0,69.4,73.9,72.2,52.7,2005,United States of America,100.0,US,NA
4,5.0,Massachusetts Institute of Technology,4,70.1,74.0,80.6,66.7,65.8,64.3,53.0,2005,United States of America,100.0,US,NA

Export files

In [53]:
final_df.to_pickle(os.path.join(path, 'Prepared Data', 'shanghai_df_cleaned.pkl'))

In [54]:
final_df.to_csv(os.path.join(path, 'Prepared Data', 'shanghai_df_cleaned_csv.csv'))